<script type="text/javascript" charset="utf-8" src="products.js"></script>
<script type="text/javascript">


$("#showprod").html(loadproduct(getUrlVars()["pid"],getUrlVars()["pname"]));





</script>
<div id="showprod" align="center">

</div>