<?xml version="1.0" encoding="UTF-8"?>
<vxml version = "2.1" >
  <form>
    <block>
    <prompt xml:lang="<%=@msgs[:prompt_extension].to_s%>">
      <%=@msgs[:to_pay].to_s%>
    </prompt>
    </block>
  </form>
</vxml>
