html, body { height: 100%; }

#dheader {
    height:20%;
    width:100%;
    /*display: inline-block;  */
}

#dprimercolumna{
	display: inline-block; /* Pone los divs en linea, como si fueran en bloque. */
	height: 100%; 
	width: 12%;
}

#dcuerpoizq{
	display: inline-block; 
	height: 100%; 
	width: 11%;
}

#dcuerpocentro{
	display: inline-block; 
	height: 100%; 
	width: 51%;
}

#dcuerpoder{
	display: inline-block; 
	height: 100%; 
	width: 12%;
}

#dultimacolumna{
	display: inline-block; 
	height: 100%; 
	width: 11%;
}