<div align="center"><h2>Investment Plan Generator</h2></div>
<form id="investment-generator" name="investment-generator" action="/investor/invest_my_money">
  <table>
    <tr>
      <td>Amount to invest (USD)</td>    	
      <td><input type="text" name="amount-to-invest" /></td>            
    </tr>
    <tr>
      <td>How many products you want to sell?</td>    	
      <td><input type="number" name="risk-level" /></td>
    </tr>
    <tr>
      <td>Time (DAYS)</td>
      <td><input type="text" name="time-to-invest" /></td>          	
    </tr>
    <tr>
      <td>Check other countries</td>
      <td><input type="checkbox" name="other-countries" /></td>
    </tr>

  </table>
  
    <div align="center">
      <input type="submit" id="submitplan" value="Make Plan for me!" />
    </div> 
</form>
