<div id="buyer-questions">
<h2>Suggest Answers</h2>
Paste the question
<form id="answer-question">
  <textarea name="userasqued"></textarea>
  <textarea name="answersuggestion"></textarea>


  <div align="center">
    <input type="submit" value="Suggest!"/>
  </div>
</form>
</div>