<!DOCTYPE HTML>
<html>
	<head>
		<title>SmartBands Consulting</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<noscript>
		<link rel="stylesheet" href="stylesheets/5grid/core.css" />
		<link rel="stylesheet" href="stylesheets/5grid/core-desktop.css" />
		<link rel="stylesheet" href="stylesheets/5grid/core-1200px.css" />
		<link rel="stylesheet" href="stylesheets/5grid/core-noscript.css" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<link rel="stylesheet" href="stylesheets/style-desktop.css" />
		</noscript>
		<script src="stylesheets/5grid/jquery.js"></script>
		<script src="stylesheets/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
		<!--[if IE 9]><link rel="stylesheet" href="css/style-ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<div id="header-wrapper">
		
			<header id="header">
				<div class="5grid-layout">
					<div class="row">
						<div class="4u" id="logo">
							<h1><a href="#" class="mobileUI-site-name">Smartbands Consulting</a></h1>
						</div>
						<div class="8u" id="menu">
							<nav class="mobileUI-site-nav">
								<ul>
									<li class="current_page_item"><a href="/">Homepage</a></li>
									<li><a href="/one">Who we are</a></li>
									<li><a href="/two">What we do</a></li>
									<li><a href="/three">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			
			<div id="banner" class="5grid-layout">
				<div class="row">
					<div class="12u">
						<section>
							<h2>Outsource software <br />development to Argentina</h2>
							<p>Looking for somebody you can trust in Argentina? You can trust us! We are a group of young and committed software developers. </p>
							<p>We develop all types of software, web, mobile, desktop, by using the latest technologies.</p>
							<p>We count with a well suited office in the core of Buenos Aires city. You can visit us!</p>
							
						</section>
					</div>
				</div>
			</div>			
            <br />
		</div>
		<!-- Header Ends Here -->

		<!-- Featured Area -->
			<div id="featured-wrapper">
			
				<div id="featured-content" class="5grid-layout">
					<div class="row">
					
						<div class="4u">
							<section>
								<h2>Mobile</h2>
								<img src="stylesheets/images/featured-icon01.png" width="91" height="68" alt="">
								<p>Mobile Software Development.</p>
								<a href="/two" class="button button-style1">Read More</a>
							</section>
						</div>

						<div class="4u">
							<section>
								<h2>Web</h2>
								<img src="stylesheets/images/featured-icon02.png" width="91" height="68" alt="">
								<p>Enterprise web applications.</p>
								<a href="/two" class="button button-style1">Read More</a>
							</section>
						</div>
						
						<div class="4u">
							<section>
								<h2>SOA System Design</h2>
								<img src="stylesheets/images/featured-icon02.png" width="91" height="68" alt="">
								<p>SOA integration</p>
								<a href="/two" class="button button-style1">Read More</a>
							</section>
						</div>
		
					</div>
				</div>
				
			</div>
		
		
		<!-- Featured Ends Here -->

				</div>
			<!-- Page Content -->
		
		</div>
		<!-- Wrapper Ends Here -->



		<!-- Copyright -->
		<div class="5grid-layout" id="copyright">
			<div class="row">
				<div class="12u">
					<section>
						<p>&copy; SmartBandS.com | Design: <a href="http://www.smartbands.com/">smartbands.com</a></p>
					</section>
				</div>
			</div>
		</div>

	</body>
</html>