
<div id="footer">
  GetStuffClose.COM
  <div align="center">
    <b><font color="#000000" size="2px">Copyright 2012 - GetStuffClose Corporation - <a href="mailto:info@getstuffclose.com">info@getstuffclose.com</a></font></b>      
  </div>
  
</div>
