CC
<div id="header">
  <div align="left" valign="top">
    <div id="logo">
      <img src="/images/logo.png"/>
    </div>
 <div id="progress">
    <table id="progresstable" width="100%" style="border:0px">
      <tr align="center">
       <td>Tutorial</td><td>Company Data</td><td>Stores</td><td>Products</td><td>Finish</td>
      </tr>
    </table>
 </div>
    


    <!-- AddThis Button BEGIN -->
<div id="sharethis" class="addthis_toolbox addthis_default_style addthis_32x32_style" align="right" valign="center">

  <a class="addthis_button_facebook"></a>
  <a class="addthis_button_twitter"></a>
  <a class="addthis_button_google"></a>

  <a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f0e4aba7158d569"></script>
<!-- AddThis Button END -->
 
  </div>
    

  

</div>

  



