<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Untitled Document</title>
	</head>
	<body>
		<div align="center"  style="background: green;color: white;">
		  <b>Thank you for the <%= session[:amount_to_pay]%> dollars!
		  A confirmation email has been sent to <%= current_user.email %></b>
		  
		</div>
		<script type="text/javascript">
			
			jAlert('Thank you, payment has been processed, go to your inbox <%= current_user.email %>' , 'Thank you',function() { $("#show_results").dialog("close");});
			
		</script>
	</body>
</html>
