<%= javascript_include_tag "jquery.min.js"%>
<%= javascript_include_tag "products.js"%>

<div id="productstablediv">

  <table id="productstable" border="2px">
    <thead>
      <tr>
        <th>Product Title</th>
        <th>Price</th>
        <th>Preview</th>
      </tr>
    </thead>

  </table>

</div>