C<div align="center">
<div id="stores-locations" align="center">
  <table id="stores">
      <tr>
      <td>
      Store addresses (Enter city,country, also):
      <input type="text" name="address" id="addr"/>
      
      </td>
<td><div align="right">
        <input type="button" value=">>" id="add-to-bottom"/>
      </div></td>                                             
    </tr>
  </table>
  
</div>
</div>
</br>
</br>
</br>
</br>
<div id="iframediv" align="center" valign="center">
<div id="stores-iframe">
  
    <table id="stores-list" name="list">
    </table>

</div>
<!--<iframe src="/storetable" id="stores-iframe">
  </iframe> -->
</div>
