<div id="tutorial">
<div id="prosimg" align="center">
      <div align="left">
      <ul>
      <li>Buy & Sell from facebook&nbsp;<img src="/images/tick.png"/></li>
      <li>Buy & Sell from mobile&nbsp;<img src="/images/tick.png"/></li>
      <li>Save shipment costs&nbsp;<img src="/images/tick.png"/></li>
      <li>As a Seller, receive Orders from AnyWhere&nbsp;<img src="/images/tick.png"/></li>
      <li>As a Seller, deliver orders close to you.&nbsp;<img src="/images/tick.png"/></li>
      <li>As a Seller, in&nbsp;<img src="/images/tick.png"/></ul>
      </ul>
    </div>      
</div>


<div id="descrvideo" align="center" valign="middle">
        </br>

        <iframe width="420" height="315" src="http://www.youtube.com/embed/Zcx86w0GDkc" frameborder="0" allowfullscreen></iframe>
</div>

</div>